.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome {
  min-height: 100vh;
  background-image: url(/src/images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  text-align: left;
  font-size: 25px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

.icon-credits {
  text-align: right;
  color: white;
  font-size: 20px;
  padding-right: 20px;
}

.margin0 {
  margin: 0;
}

.purpleToPink a {
  color: white;
  text-decoration: none;
}

.purpleToPink a:hover {
  font-weight: bold;
}

.purpleToPink {
  background: rgb(255, 0, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(142, 124, 195, 1) 100%
  );
  border-radius: 5px;
  height: 40px;
  width: 150px;
  border: none;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.purpleToPink:hover {
  background: rgb(255, 0, 255);
  background: linear-gradient(
    135deg,
    rgba(142, 124, 195, 1) 0%,
    rgba(255, 0, 255, 1) 100%
  );
  transform: scale(1.1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
