body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.disclaimer {
  color: #595959;
  width: 70%;
  margin: auto;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.disclaimer a {
  color: #4285f4;
  text-decoration: none;
}

.disclaimer a:hover {
  text-decoration: underline;
}

/* Styles to the Homepage */
.info-text {
  width: 50%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #d2d0d0;
  text-align: center;
}

.info-text-list {
  list-style-type: none;
}

.link {
  color: #4285f4;
  text-decoration: none;
}

/* Styles to the Header */
.navigation-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff1c;
}

.github-header {
  text-align: left;
  font-size: 25px;
  color: white;
  padding-left: 20px;
  text-decoration: none;
}

.link-inactive {
  text-align: left;
  font-size: 15px;
  color: white;
  padding-left: 20px;
  text-decoration: none;
}

.link-inactive:hover {
  color: #4285f4;
  text-decoration: none;
}

.link-active {
  text-align: left;
  font-size: 15px;
  padding-left: 20px;
  color: #4285f4;
  text-decoration: none;
}

/* Styles to Search Page */
.search-container {
  width: 30%;
  padding-left: 20px;
  padding-bottom: 90px;
}

.search-type-div {
  margin-top: 70px;
}

.flex-display {
  display: flex;
  flex-wrap: wrap;
}

.search-heading {
  color: #4285f4;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.form-input {
  width: 60%;
  background-color: #ffffff1c;
  color: #efefef;
  border: 2px solid #666666;
  height: 25px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 10px;
}

.search-btn {
  width: 30%;
  padding: 5px;
  background-color: black;
  color: #efefef;
  border: 2px solid #666666;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.search-btn:hover {
  background-color: #ffffff1c;
  transform: scale(1.1);
}

.language-buttons {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lng-btn {
  background: rgb(255, 0, 255);
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(142, 124, 195, 1) 100%
  );
  border-radius: 5px;
  height: 40px;
  width: 30%;
  border: none;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.lng-btn:hover {
  background: rgb(255, 0, 255);
  background: linear-gradient(
    135deg,
    rgba(142, 124, 195, 1) 0%,
    rgba(255, 0, 255, 1) 100%
  );
  transform: scale(1.1);
}

.search-results {
  width: 65%;
  color: white;
}

.result-heading {
  margin-left: 50px;
}

.result-info {
  width: 80%;
  margin: auto;
  font-size: 20px;
  color: #625d5d;
  text-align: center;
  padding-top: 100px;
}

/* Styles to the Footer */
.footer {
  text-align: right;
  padding-right: 10%;
  padding-bottom: 10px;
}

.footer a {
  color: #4285f4;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Styles to Repository Search Results */
.repoCards {
  width: 85%;
  margin: auto;
  padding-left: 10px;
  background-color: #c8bbf71c;
  border-radius: 10px;
  border: 1px solid #595959;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.repoVisibility {
  font-size: 10px;
  border: 1px solid #595959;
  width: 60px;
  text-align: center;
  border-radius: 30px;
  height: 12px;
  color: #595959;
  font-family: "Courier New", Courier, monospace;
  margin-top: 17px;
  margin-left: 10px;
  padding: 2px;
  margin-bottom: 5px;
}

.repoDescription {
  color: #595959;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  width: 90%;
  margin-top: 0;
}

.repoIssues {
  font-size: 15px;
  color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: right;
}

.repoInfo {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

.repoName {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #4285f4;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 15px;
  text-decoration: none;
}

.repoName:hover {
  text-decoration: underline;
}

.red {
  color: red;
}

/* Styles to Repository Search Single Repo Issues Results */
.back-button {
  font-size: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  border: 1px solid #595959;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.1);
  background-color: #c8bbf71c;
}

.back-button a {
  color: #595959;
  text-decoration: none;
}

.issues-info-container {
  text-align: center;
}

.issues-heading {
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.issues-repository-name {
  color: #4285f4;
  text-decoration: none;
}

.issues-repository-name:hover {
  text-decoration: underline;
}

.issues-description {
  color: #595959;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0;
}

.issues-dates {
  color: #cccccc;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0;
}

.issues-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 84%;
  margin: auto;
}

.issue-number {
  color: #cccccc;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
}

hr {
  border: 0.5px solid #595959;
  width: 80%;
  margin-bottom: 30px;
}

.issueCards {
  width: 45%;
  margin: auto;
  padding-left: 10px;
  background-color: #c8bbf71c;
  border-radius: 10px;
  border: 1px solid #595959;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.issueName {
  font-size: 12px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  padding-top: 17px;
}

.issueName:hover {
  color: #4285f4;
}

.issue-card-date {
  color: #595959;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  width: 90%;
  margin-top: 0;
  margin-bottom: 0px;
}

.issue-card-button {
  font-size: 15px;
  background: rgb(60, 120, 216);
  background: linear-gradient(
    135deg,
    rgba(60, 120, 216, 0.926500822368421) 0%,
    rgba(103, 78, 167, 1) 100%
  );
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  padding: 5px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.issue-card-button:hover {
  background: rgb(60, 120, 216);
  background: linear-gradient(
    135deg,
    rgba(103, 78, 167, 1) 0%,
    rgba(60, 120, 216, 0.926500822368421) 100%
  );
  transform: scale(1.1);
}

.issue-card-button a,
.pullRequest-card-button a {
  color: white;
  text-decoration: none;
}

.pullRequest-card-button {
  font-size: 10px;
  background: rgb(255, 0, 255);
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(142, 124, 195, 1) 100%
  );
  border: none;
  border-radius: 5px;
  width: 55px;
  height: 30px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.pullRequest-card-button:hover {
  background: rgb(255, 0, 255);
  background: linear-gradient(
    135deg,
    rgba(142, 124, 195, 1) 0%,
    rgba(255, 0, 255, 1) 100%
  );
  transform: scale(1.1);
}

.noIssues {
  text-align: center;
  color: white;
}
